namespace env {

    namespace wifi {
        String ssid = "SSID";
        String password = "password";
        bool obtainIpAddressAutomatically = true;
        IPAddress ip(0, 0, 0, 0);
        IPAddress subnet(0, 0, 0, 0);
        IPAddress gateway(0, 0, 0, 0);
        IPAddress dns1(0, 0, 0, 0);
        IPAddress dns2(0, 0, 0, 0);
    }

    namespace httpClient {
        String host = "pubsub.pubnub.com";
        String mode = "publish";
        String publishKey = "publish-key";
        String subscribeKey = "subscribe-key";
        String signature = "signature";
        String channelName = "channel";
        String callback = "callback";
    }

    namespace server {
        ESP8266WebServer* server =  new ESP8266WebServer(80);
    }

}